// Sizes
$header-mob-h: 5.357rem;
$header-desk-h: 6.785rem;
$header-menu-desk-h: 4.642rem;

// #353c50 todos os titulos
$headings: #3d455c;

//CORES PRIMÁRIAS
$main-blue: #353C50;
$main-gold: #DBC274;
$main-grey: #6B6B6B;
$main-grey-02: #C4C4C4;


//CORES SECUDÁRIAS
$sec-blue-01: #232836;
$sec-blue-02: #3D455C;
$sec-blue-03: #67759C;
$sec-blue-04: #263769;
$sec-blue-05: #38539C;
$sec-blue-06: #91A5DB;
$sec-blue-07: #99AEE8;
$sec-blue-08: #7F88A3;
$sec-blue-09: #9F9F9F;


$sec-gold-01: #A89559;
$sec-gold-02: #C2AB67;
$sec-gold-03: #E8CD7B;
$sec-gold-04: #E1D8BB;
$sec-gold-05: #EFEFF0;

$cinza-claro: #F0F0F1;
$cinza-claro-bg: #F0F0F0;
$copyright: #9F9F9F;

$bg-light: #F8F8F8;

$txt-modal: #A6A6A6;

// BREAKPOINTS
$bp-mobile: 870px;

$max-w: 1200px;


//Layers
$layerBg: -1;
$layerBase: 0;
$layerFg: 1;
$layerTop: 2;
$layerTopAll: 10000;